@media (max-width: 375px) {
  .conteiner {
    max-width: 375px;
  }
  .title {
    font-size: 34.5808px;
    line-height: 93px;
  }
  .header {
    padding: 40px 0px 0px 0px;
    &__logo {
      font-size: 13.2495px;
      padding: 3px 0px 0px 44px;
    }
    &__nav {
      display: none;
    }
  }
  .creative {
    &__title {
      padding: 60px 0px 34px 26px;
      font-size: 50px;
      line-height: 92.52%;
    }
    &__text {
      max-width: 330px;
      font-size: 15px;
      line-height: 18px;
      padding: 0px 0px 0px 20px;
    }
  }
  .work {
    &__title {
      padding: 125px 0px 26px 0px;
    }
    &__item {
      position: relative;
      padding: 0px 0px 10px 0px;
      &-row {
        :nth-child(3) {
          .trigger-window {
            bottom: 10px;
            :hover & {
              bottom: 10px;
            }
          }
        }
        :nth-child(4) {
          display: none;
        }
        :nth-child(5) {
          display: none;
        }
        :nth-child(6) {
          display: none;
        }
        :nth-child(even) {
          .trigger-window {
            right: 0;
          }
        }
      }
      &:not(:nth-child(3)):after {
        content: url(../img/line.svg);
        display: block;
        text-align: center;
      }
      img {
        max-width: 375px;
        width: 100%;
      }
      &:hover .trigger-window {
        bottom: 30px;
      }
      .trigger-window {
        width: 228px;
        position: absolute;
        z-index: 2;
        opacity: 1;
        bottom: 30px;
        h3 {
          font-size: 11px;
          padding: 10px 0px 0px 18px;
        }
        p {
          width: 200px;
          font-size: 6px;
          line-height: 7px;
          padding: 1px 0px 14px 18px;
        }
        a {
          display: none;
        }
      }
    }
  }
  .mobile-button {
    display: flex;
    justify-content: center;
    padding: 26px 0px 0px 0px;
    a {
      font-size: 17px;
      text-decoration: none;
      color: white;
      padding: 11px 29px;
      border: 1px solid #fff;
    }
  }
  .services {
    padding: 80px 0px 0px 0px;
    h3 {
      padding: 40px 0px 20px 26px;
      font-weight: 600;
      font-size: 23.4038px;
    }
    &__title {
      padding: 0px 0px 0px 0px;
    }
    &__item-row {
      justify-content: center;
    }
    &__item {
      margin: 0px 0px 16px 0px;
      &:last-child {
        margin: 0;
      }
      &:nth-child(2) {
        margin: 0px 0px 16px 0px;
      }
    }
    &__content {
      width: 270px;
      height: 240px;
      p {
        max-width: 240px;
        padding: 0px 0px 10px 26px;
        font-size: 10px;
        line-height: 12px;
      }
      a {
        padding: 4px 0px 40px 26px;
        font-size: 12.9958px;
        &::after {
          content: url(../img/services/arrow.png);
          width: 20px;
          height: 15px;
        }
      }
    }
    &__price {
      width: 270px;
      font-size: 12.9958px;
      height: 36px;
      padding: 10px 0px 0px 26px;
    }
  }
  .team {
    h2 {
      padding: 115px 0px 0px 0px;
    }
    &__text {
      width: 285px;
      padding: 0px 0px 50px 0px;
      p {
        font-size: 13px;
        line-height: 16px;
      }
    }
    &__photos {
      display: inline;
      :nth-child(even) {
        .trigger-window2 {
          left: 139px;
          :hover & {
            left: 139px;
          }
        }
      }
    }
    &__ph {
      &:hover .trigger-window2 {
        opacity: 1;
        left: 0;
      }
      .trigger-window2 {
        width: 236px;
        height: 60px;
        left: 0px;
        opacity: 1;
        h3 {
          font-size: 20.7284px;
          padding: 7px 0px 0px 10px;
        }
        p {
          font-size: 12.9553px;
          padding: 0px 0px 12px 10px;
        }
      }
      img {
      }
    }
  }
  .contact {
    padding: 118px 0px 80px 0px;
    h2 {
      font-size: 34.5808px;
      padding: 0px 0px 18px 0px;
    }
    &__con {
      font-size: 21.6264px;
      a {
        padding: 0px 0px 6px 0px;
      }
    }
    &__links {
    }
    &__row {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 340px;
      font-size: 17px;
      justify-content: center;
      div {
        justify-content: space-around;
        padding: 0px 15px 18px 15px;
      }
    }
  }
  .footer {
    background: #000;
    color: #fff;
    &__row {
      flex-direction: column;
      align-items: center;
      width: 375px;
      font-weight: 800;
      font-size: 10px;
    }
  }
  .PPTC {
    flex-direction: column;
    align-items: center;
    order: -5;
    font-weight: 200;
    font-size: 10px;
    a {
      color: #fff;
    }
    :last-child {
      padding: 0px 0px 0px 0px;
    }
    .creo {
      font-weight: 800;
      font-size: 10px;
      order: 1;
    }
  }
}
