@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 0.5208333333vw;
}

.title {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 80.9309px;
  line-height: 98px;
}

body {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: white;
  background: #000;
}

.conteiner {
  max-width: 1512px;
  margin: 0 auto;
}

.header {
  padding: 67px 0px 0px 0px;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0px 0px 96px;
}
.header__nav {
  padding: 0px 91px 0px 0px;
  font-weight: 400;
  display: flex;
  text-transform: uppercase;
}
.header__nav li {
  margin-right: 91px;
}
.header__nav li a {
  text-decoration: none;
  color: white;
}
.header__nav li:last-child {
  margin: 0px;
}

.creative__title {
  font-weight: 600;
  font-size: 162.959px;
  line-height: 134px;
  text-align: center;
  padding: 230px 0px 56px 40px;
  max-width: 1240px;
  margin: 0 auto;
  letter-spacing: 2px;
}
.creative__text {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 0px 0px 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.work__title {
  padding: 242px 0px 96px 0px;
}
.work__item-row {
  display: flex;
  flex-wrap: wrap;
  padding: -1100px;
}
.work__item {
  position: relative;
}
.work__item:hover .trigger-window {
  transition: 0.8s;
  opacity: 1;
  bottom: 0px;
}
.work__item .trigger-window {
  width: 756px;
  position: relative;
  background-color: #fff;
  color: #000;
  position: absolute;
  opacity: 0;
  bottom: -50px;
}
.work__item .trigger-window h3 {
  font-weight: 700;
  font-size: 45px;
  padding: 36px 0px 0px 68px;
}
.work__item .trigger-window p {
  display: block;
  width: 594px;
  padding: 12px 0px 0px 68px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
.work__item .trigger-window a {
  display: block;
  text-decoration: none;
  padding: 34px 0px 32px 68px;
  color: #000;
}
.work__item .trigger-window a::after {
  content: url(../img/services/arrow.png);
  color: #000;
  position: relative;
  top: 5px;
  left: 10px;
}

.mobile-button {
  display: none;
}

.services {
  padding: 374px 0px 186px 0px;
  color: #000;
}
.services h3 {
  padding: 60px 0px 24px 44px;
  font-weight: 600;
  font-size: 36.0176px;
}
.services__title {
  padding: 0px 0px 102px 0px;
}
.services__item-row {
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  flex: 0 1 36%;
  margin: 0px 78px 60px 188px;
}
.services__item:nth-child(even) {
  margin: 0px;
}
.services__content {
  width: 530px;
  max-width: 100%;
  background: #fff;
}
.services__content p {
  padding: 0px 0px 34px 44px;
  max-width: 430px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.services__content a {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 0px 74px 44px;
  text-decoration: none;
  color: #000;
}
.services__content a::after {
  content: url(../img/services/arrow.png);
  color: #000;
  position: relative;
  top: 5px;
  left: 10px;
}
.services__price {
  width: 530px;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #00cf2e;
  padding: 16px 0px 14px 44px;
}

.team h2 {
  padding: 15px 0px 52px 0px;
}
.team__text {
  width: 1100px;
  margin: 0 auto;
  padding: 0px 0px 76px 0px;
}
.team p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.team__photos {
  display: flex;
}
.team__ph {
  position: relative;
}
.team__ph:hover .trigger-window2 {
  transition: 0.8s;
  opacity: 1;
  bottom: 0px;
  left: 0;
}
.team__ph .trigger-window2 {
  width: 378px;
  background-color: #fff;
  color: #000;
  position: absolute;
  opacity: 0;
  bottom: 0px;
  left: -10px;
}
.team__ph .trigger-window2 h3 {
  font-weight: 700;
  font-size: 32px;
  padding: 12px 0px 0px 18px;
}
.team__ph .trigger-window2 p {
  display: block;
  padding: 5px 0px 20px 18px;
  font-weight: 600;
  text-align: start;
  font-size: 20px;
  color: #5e5e5e;
}

.contact {
  padding: 0px 0px 214px 0px;
}
.contact h2 {
  padding: 316px 0px 56px 0px;
}
.contact__con {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 50px;
}
.contact__con a {
  padding: 0px 0px 26px 0px;
  text-decoration: none;
  color: #fff;
}
.contact__row {
  padding: 40px 0px 0px 0px;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 30px;
}
.contact__row div {
  padding: 0px 60px 0px 10px;
}
.contact__row div a {
  text-decoration: none;
  color: #fff;
}

.footer {
  background: #fff;
  color: #000;
}
.footer__row {
  width: 1310px;
  height: 90px;
  margin: auto;
  display: flex;
  font-weight: 400;
  font-size: 21.0616px;
  justify-content: space-between;
  padding: 34px 0px 0px 0px;
}

.PPTC {
  display: flex;
}
.PPTC a {
  text-decoration: none;
  color: #000;
}
.PPTC :last-child {
  padding: 0px 0px 0px 56px;
  text-align: center;
}

@media (max-width: 375px) {
  .conteiner {
    max-width: 375px;
  }

  .title {
    font-size: 34.5808px;
    line-height: 93px;
  }

  .header {
    padding: 40px 0px 0px 0px;
  }
  .header__logo {
    font-size: 13.2495px;
    padding: 3px 0px 0px 44px;
  }
  .header__nav {
    display: none;
  }

  .creative__title {
    padding: 60px 0px 34px 26px;
    font-size: 50px;
    line-height: 92.52%;
  }
  .creative__text {
    max-width: 330px;
    font-size: 15px;
    line-height: 18px;
    padding: 0px 0px 0px 20px;
  }

  .work__title {
    padding: 125px 0px 26px 0px;
  }
  .work__item {
    position: relative;
    padding: 0px 0px 10px 0px;
  }
  .work__item-row :nth-child(3) .trigger-window {
    bottom: 10px;
  }
  :hover .work__item-row :nth-child(3) .trigger-window {
    bottom: 10px;
  }
  .work__item-row :nth-child(4) {
    display: none;
  }
  .work__item-row :nth-child(5) {
    display: none;
  }
  .work__item-row :nth-child(6) {
    display: none;
  }
  .work__item-row :nth-child(even) .trigger-window {
    right: 0;
  }
  .work__item:not(:nth-child(3)):after {
    content: url(../img/line.svg);
    display: block;
    text-align: center;
  }
  .work__item img {
    max-width: 375px;
    width: 100%;
  }
  .work__item:hover .trigger-window {
    bottom: 30px;
  }
  .work__item .trigger-window {
    width: 228px;
    position: absolute;
    z-index: 2;
    opacity: 1;
    bottom: 30px;
  }
  .work__item .trigger-window h3 {
    font-size: 11px;
    padding: 10px 0px 0px 18px;
  }
  .work__item .trigger-window p {
    width: 200px;
    font-size: 6px;
    line-height: 7px;
    padding: 1px 0px 14px 18px;
  }
  .work__item .trigger-window a {
    display: none;
  }

  .mobile-button {
    display: flex;
    justify-content: center;
    padding: 26px 0px 0px 0px;
  }
  .mobile-button a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 11px 29px;
    border: 1px solid #fff;
  }

  .services {
    padding: 80px 0px 0px 0px;
  }
  .services h3 {
    padding: 40px 0px 20px 26px;
    font-weight: 600;
    font-size: 23.4038px;
  }
  .services__title {
    padding: 0px 0px 0px 0px;
  }
  .services__item-row {
    justify-content: center;
  }
  .services__item {
    margin: 0px 0px 16px 0px;
  }
  .services__item:last-child {
    margin: 0;
  }
  .services__item:nth-child(2) {
    margin: 0px 0px 16px 0px;
  }
  .services__content {
    width: 270px;
    height: 240px;
  }
  .services__content p {
    max-width: 240px;
    padding: 0px 0px 10px 26px;
    font-size: 10px;
    line-height: 12px;
  }
  .services__content a {
    padding: 4px 0px 40px 26px;
    font-size: 12.9958px;
  }
  .services__content a::after {
    content: url(../img/services/arrow.png);
    width: 20px;
    height: 15px;
  }
  .services__price {
    width: 270px;
    font-size: 12.9958px;
    height: 36px;
    padding: 10px 0px 0px 26px;
  }

  .team h2 {
    padding: 115px 0px 0px 0px;
  }
  .team__text {
    width: 285px;
    padding: 0px 0px 50px 0px;
  }
  .team__text p {
    font-size: 13px;
    line-height: 16px;
  }
  .team__photos {
    display: inline;
  }
  .team__photos :nth-child(even) .trigger-window2 {
    left: 139px;
  }
  :hover .team__photos :nth-child(even) .trigger-window2 {
    left: 139px;
  }
  .team__ph:hover .trigger-window2 {
    opacity: 1;
    left: 0;
  }
  .team__ph .trigger-window2 {
    width: 236px;
    height: 60px;
    left: 0px;
    opacity: 1;
  }
  .team__ph .trigger-window2 h3 {
    font-size: 20.7284px;
    padding: 7px 0px 0px 10px;
  }
  .team__ph .trigger-window2 p {
    font-size: 12.9553px;
    padding: 0px 0px 12px 10px;
  }
  .contact {
    padding: 118px 0px 80px 0px;
  }
  .contact h2 {
    font-size: 34.5808px;
    padding: 0px 0px 18px 0px;
  }
  .contact__con {
    font-size: 21.6264px;
  }
  .contact__con a {
    padding: 0px 0px 6px 0px;
  }
  .contact__row {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 340px;
    font-size: 17px;
    justify-content: center;
  }
  .contact__row div {
    justify-content: space-around;
    padding: 0px 15px 18px 15px;
  }

  .footer {
    background: #000;
    color: #fff;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
    width: 375px;
    font-weight: 800;
    font-size: 10px;
  }

  .PPTC {
    flex-direction: column;
    align-items: center;
    order: -5;
    font-weight: 200;
    font-size: 10px;
  }
  .PPTC a {
    color: #fff;
  }
  .PPTC :last-child {
    padding: 0px 0px 0px 0px;
  }
  .PPTC .creo {
    font-weight: 800;
    font-size: 10px;
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */