@import "stylenull.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

//font-family: 'Inter', sans-serif;
//не особо запаривался с letter-spacing

.title {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 80.9309px;
  line-height: 98px;
}

body {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: white;
  background: #000;
}

.conteiner {
  max-width: 1512px;
  margin: 0 auto;
}

.header {
  // .header__row
  padding: 67px 0px 0px 0px;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 0px 0px 96px;
  }

  &__nav {
    padding: 0px 91px 0px 0px;
    font-weight: 400;
    display: flex;
    text-transform: uppercase;
    li {
      margin-right: 91px;
      a {
        text-decoration: none;
        color: white;
      }
      &:last-child {
        margin: 0px;
      }
    }
  }
}

.creative {
  // .creative__title

  &__title {
    font-weight: 600;
    font-size: 162.959px;
    line-height: 134px;
    text-align: center;
    padding: 230px 0px 56px 40px;
    max-width: 1240px;
    margin: 0 auto;
    letter-spacing: 2px;
  }

  &__text {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 0px 0px 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
}

.work {
  // .work__title
  &__title {
    padding: 242px 0px 96px 0px;
  }

  // .work__item-row

  &__item-row {
    display: flex;
    flex-wrap: wrap;
    padding: -1100px;
  }

  // .work__item

  &__item {
    position: relative;
    &:hover .trigger-window {
      transition: 0.8s;
      opacity: 1;
      bottom: 0px;
    }
    img {
    }
    .trigger-window {
      width: 756px;
      position: relative;
      h3 {
        font-weight: 700;
        font-size: 45px;
        padding: 36px 0px 0px 68px;
      }
      p {
        display: block;
        width: 594px;
        padding: 12px 0px 0px 68px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
      }
      a {
        display: block;
        text-decoration: none;
        padding: 34px 0px 32px 68px;
        color: #000;
        &::after {
          content: url(../img/services/arrow.png);
          color: #000;
          position: relative;
          top: 5px;
          left: 10px;
        }
      }
      background-color: #fff;
      color: #000;
      position: absolute;
      opacity: 0;
      bottom: -50px;
    }
  }
}

.mobile-button {
  display: none;
}

.services {
  padding: 374px 0px 186px 0px;
  color: #000;

  h3 {
    padding: 60px 0px 24px 44px;
    font-weight: 600;
    font-size: 36.0176px;
  }

  &__title {
    padding: 0px 0px 102px 0px;
  }

  // .services__item-row

  &__item-row {
    display: flex;
    flex-wrap: wrap;
  }

  // .services__item

  &__item {
    flex: 0 1 36%;
    margin: 0px 78px 60px 188px;
    &:nth-child(even) {
      margin: 0px;
    }
  }

  // .services__content

  &__content {
    width: 530px;
    max-width: 100%;
    background: #fff;
    p {
      padding: 0px 0px 34px 44px;
      max-width: 430px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
    a {
      display: inline-block;
      font-weight: 600;
      font-size: 20px;
      padding: 0px 0px 74px 44px;
      text-decoration: none;
      color: #000;
      &::after {
        content: url(../img/services/arrow.png);
        color: #000;
        position: relative;
        top: 5px;
        left: 10px;
      }
    }
  }

  // .services__price

  &__price {
    width: 530px;
    max-width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background: #00cf2e;
    padding: 16px 0px 14px 44px;
  }
}

.team {
  // .team_ph

  h2 {
    padding: 15px 0px 52px 0px;
  }

  &__text {
    width: 1100px;
    margin: 0 auto;
    padding: 0px 0px 76px 0px;
  }
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  &__photos {
    display: flex;
  }
  &__ph {
    position: relative;
    &:hover .trigger-window2 {
      transition: 0.8s;
      opacity: 1;
      bottom: 0px;
      left: 0;
    }
    img {
    }
    .trigger-window2 {
      width: 378px;
      h3 {
        font-weight: 700;
        font-size: 32px;
        padding: 12px 0px 0px 18px;
      }
      p {
        display: block;
        padding: 5px 0px 20px 18px;
        font-weight: 600;
        text-align: start;
        font-size: 20px;
        color: #5e5e5e;
      }
      background-color: #fff;
      color: #000;
      position: absolute;
      opacity: 0;
      bottom: 0px;
      left: -10px;
    }
  }
}

.contact {
  padding: 0px 0px 214px 0px;
  h2 {
    padding: 316px 0px 56px 0px;
  }

  // .contact__con

  &__con {
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    p {
      padding: 0px 0px 26px 0px;
    }
  }

  // .contact__links

  &__links {
  }
  &__row {
    padding: 40px 0px 0px 0px;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 30px;
    div {
      padding: 0px 60px 0px 10px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.footer {
  background: #fff;
  color: #000;
  // .footer__row

  &__row {
    width: 1310px;
    height: 90px;
    margin: auto;
    display: flex;
    font-weight: 400;
    font-size: 21.0616px;
    justify-content: space-between;
    padding: 34px 0px 0px 0px;
  }
}
.PPTC {
  display: flex;
  :last-child {
    padding: 0px 0px 0px 56px;
    text-align: center;
  }
}

.creo {
}

@import "media.scss";
